<html><head></head><body><div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Create your account here</h6>
                </div>
                <form>
                    
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Full Name</label>
                            <input formcontrolname="fullname" type="text" class="form-control" id="exampleInputName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputMobile" class="form-label">Mobile Number</label>
                            <input formcontrolname="mobile" type="number" class="form-control" id="exampleInputMobile">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formcontrolname="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formcontrolname="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                
                <br>
                <p>Already a user? <a routerlink="/login">LOGIN</a></p>
            </div>
        </div>
    </div>
</div>
</body></html>